* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
}

.logoWrap {

}

.logo {
  width: 36px;
  height: 36px;
  border-radius: 55%;
  background-color: black;
  float: left;

}

.logo2 {
  width: 75px;
  height: 20px;
  background-color: black;
  float:left;
  margin: 1% 0 0 1%;
}

.nav {
  height: 3vh;
  width: 20vw;
  background-color: black;
  margin: 3% 0 0.1%;
  display: inline-block;

}

.main {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
  margin: 7% auto;
}

.main2 {
  width: 325px;
  height: 100px;
  background-color: black;
  margin: 7% auto;
}

.main3 {
  width: 325px;
  height: 100px;
  background-color: black;
  margin: 7% auto;
}

.text {
  width:85vw;
}

/* med sized screens*/


/*CLEARFIX*/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


@media screen and (min-width:768px) {

  .nav {
    height: 2.5vh;
    width: 12vw;
    background-color: black;
    margin: 3% .5%;
    display: inline-block;
    float: right;
    position: relative;
    top: -50px;
  }

  .nav1 {
    margin-right: 8%;
  }

  .text1 {
    width: 55vw;
    float: left;
    display: inline-block;
  }

  .main {
    width: 260px;
    height: 260px;
    float: left;
    margin-left: 10%;
    margin-top: -1%;
    display: inline-block;
  }

  .main2 {
    display: inline-block;
    clear: both;
  }

  .main3,
  .main4 {
    display: inline-block;
    margin: 0 1%;
  }

  .main2,
  .main3,
  .main4 {
    width: 250px;
    height: 200px;
    background-color: black;
    margin: 7% auto;
    }

    .sub1 {
      width: 45%;
      float: left;
    }
  .sub2 {
    width: 45%;
    float: right;
  }

  .text {
    width: 90%;
    margin: 5%;
  }
  }

}
