* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
}

.logoWrap {

}

.logo {
  width: 36px;
  height: 36px;
  border-radius: 55%;
  background-color: black;
  float: left;

}

.logo2 {
  width: 75px;
  height: 20px;
  background-color: black;
  float:left;
  margin: 1% 0 0 1%;
}

.nav {
  height: 3vh;
  width: 20vw;
  background-color: black;
  margin: 3% 0 0.1%;
  display: inline-block;

}

.main {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: black;
  margin: 7% auto;
}

.main2 {
  width: 325px;
  height: 100px;
  background-color: black;
  margin: 7% auto;
}

.main3 {
  width: 325px;
  height: 100px;
  background-color: black;
  margin: 7% auto;
}

.text {
  width:85vw;
}

/* med sized screens*/


/*CLEARFIX*/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


@media screen and (min-width:768px) {

  .nav {
    height: 2.5vh;
    width: 12vw;
    background-color: black;
    margin: 2.5% .5%;
    display: inline-block;
    float: right;
    position: relative;
    top: -50px;
  }

  .nav1 {
    margin-right: 8%;
  }

  .text1 {
    width: 55vw;
    float: left;
    display: inline-block;
  }

  .main {
    width: 260px;
    height: 260px;
    float: left;
    margin-left: 7%;
    margin-top: -1%;
    display: inline-block;
  }

  .main2 {
    display: inline-block;
    clear: both;
  }

  .main3,
  .main4 {
    display: inline-block;
    margin: 0 1%;
  }

  .main2,
  .main3,
  .main4 {
    width: 254px;
    height: 200px;
    /*width: 10%;
    height: 10%;*/
    background-color: black;
    margin: 7% auto;
    }

    .sub1 {
      width: 45%;
      float: left;
    }
  .sub2 {
    width: 45%;
    float: left;
  }

  .sub2 h1::before {
    content: "";
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: black;
    margin-right: 5%;
  }

  .sub2 h1 {
    margin-left: -50px;

  }

  .text {
    width: 70%;
    margin: 5%;
  }
  }

  @media screen and (min-width:1000px) {
    .container {
      margin: 5% 5% 5% 10%;
    }

    .nav {
      margin: .1%;
      width: 8vw;
    }

    .nav1 {
      margin-right: 14%;
    }

    .main2,
    .main3,
    .main4 {
      width: 300px;
      height: 200px;
      background-color: black;
      margin: 8% 0;
      display:block;
      float: left;
      /*clear: both;*/
      }
      .mainWrap,
      .sub1,
      .sub2 {
        float: left;
        width: 27%;

      }
      .sub2 h1::before {
        content: "";
        display: inline-block;
        height: 45px;
        width: 45px;
        background-color: black;
        margin-right: 5%;


      }
      .sub2 h1 {
        margin-left: -60px;

      }


      .sub2 {
        margin-left: 2%;
      }
      .text1 {
        width: 40%;
      }
      .main {
        width: 325px;
        height: 325px;
        margin-left: 15%;
      }
      .sub1 {
        margin-left: 1%;
      }
    }


}
